.gray{
  color: var(--gray-color);
}
.dark {
  color: var(--dark-color);
}
.light{
  color: var(--light-color);
}

.primary {
  color: var(--primary-color);
}

.default {
  font-size: 1rem;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
}