.wrapper {
  padding: 20px 0;
  background-color: transparent;
}
.wrapper.primary {
  background-color: var(--bg-primary-color);
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.reviews {
  display: flex;
  column-gap: 20px;
  padding: 20px;
  margin-bottom: 40px;
}
