:root {
  --primary-color: #D4A762;
  --secondary-color: #9A9A9A;

  --gray-color:#9A9A9A;
  --dark-color: #050709;
  --light-color: #fffcf8;

  --red-color: #3e0505;
  --error-color: #f4c7c7;

  --bg-primary-color: #FFFCF8;
  --bg-secondary-color: #050709;

  --primary-font-family: 'Open Sans';
  --secondary-font-family: 'Playball', cursive;
}
