.button {
  font-weight: 600;
  transition: .5s;
  border: none;
  outline: none;
  border-radius: 50rem;
  padding: 1rem 3rem;
  color: var(--dark-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.button:focus {
  box-shadow: 0 0 0 .25rem rgba(180, 142, 83, .5);
}
