header.header {
  background-color: var(--bg-primary-color);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 20px 0;
  font-family: var(--secondary-font-family), cursive;
  font-size: 20px;
  color: var(--dark-color);
}