.form {
  padding: 20px;
}

.form .group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}

.form .group .control {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  margin: 0 20px;
}

.formWrapper img{
  width: 10%;
  opacity: 0.7;
  object-fit: cover;
}

.formWrapper form{
  flex-grow: 1;
}